<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'components/_styles.html' %}
    {% block style_login_pages %}
    {% endblock style_login_pages %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
<div class="container">
    {% include 'components/_navbar.html' %}
    {% if messages %}
    <div class="messages" style="margin-top: 5px">
        {% for message in messages %}
        <p {% if message.tags %}
           class="alert alert-{% if message.tags == 'error'%}danger{% else %}{{ message.tags }}{% endif %}"
           {% endif %}>{{ message }}
        </p>
        {% endfor %}
    </div>
    {% endif %}
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <!-- Footer -->
    {% include 'layout/footer.html' %}
    <!-- Footer -->
</div>
{% include 'components/_scripts.html' %}
</body>
</html>