{% extends 'base.html' %}
{% block title %}
    Recipe-Form
{% endblock title %}
{% block main %}
<div class="d-flex justify-content-center">
<form method="post" enctype="multipart/form-data" style="border: 2px solid gray; border-radius: 10px; margin-top: 20px; width: 800px; padding: 10px 10px 10px 10px">
    {% csrf_token %}
    {{ recipe_form.as_p }}

    <div>
        <button type="submit" class="btn btn-success " style="width: 15%;">
            {% if 'recipe-create' in request.path %}
                Save
            {% else %}
                Update
            {% endif %}
        </button>
        <a href="{% url 'index' %}" class="btn btn-warning " style="width: 15%; ">
            Cancel
        </a>
    </div>
</form>
</div>
{% endblock main %}